<div class="tip">
  <fieldset class="tip-title">
        <legend>or</legend>
  </fieldset>

  <p>Support with Bitcoin</p>

  <div class="bitcoin">
    <p>Found this article interesting or useful? Tip me if you'd like in below address</p>
    <form action="#" method="post" accept-charset="utf-8">
      <input type="text" value="{{ page.bitcoin }}" size="40" readonly />
    </form>
    <div class="open-wallet-link">
      <a href="bitcoin:{{ page.bitcoin }}?label=Sathish Manohar - {{ page.title }}&message=Sathish Manohar - {{ page.title }}">Open in wallet</a>
    </div>
  </div>
</div>


<style type="text/css" media="all">
  .open-wallet-link {
    text-align: center;
  }
  .open-wallet-link {
    font-size: 0.8em;
  }
</style>

