<!--leanModal invokation for tipcoins-->
{% javascript jquery.leanModal.min.js  %}
{% javascript jquery.qrcode-0.7.0.min.js  %}

<script type="text/javascript" charset="utf-8">
  // Generate QR Code
  $('#qrcode').qrcode({
      render: "image",
      size: 256,
      text: "{{ page.bitcoin }}"
  });

  // Display Lean Modal
  $("a[rel*=leanModal]").leanModal({ top : 200, overlay : 1 });

// Select BTC address on click
$(function(){

    jQuery.selectText('input:text');
    jQuery.selectText('input:password');

    });

jQuery.extend( {
selectText: function(s) {
$(s).live('focus',function() {
    var self = $(this);
    setTimeout(function() {self.select();}, 0);
    });
  }
});
</script>

